<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Members Only</title>
</head>
<body>
    <header>
        <h1>Message Board</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/log-in">Log in</a></li>
                <% if (locals.user) { %>
                    <li><a href="/log-out">Log out</a></li>
                <% } %>
            </ul>
        </nav>
    </header>

    <main>
        <% if (locals.user) { %>
            <h1>You are logged in as <%= locals.user.firstname + " " + locals.user.lastname  %></h1>
        <% } %>
        <h1>Messages</h1>
        <section>
            <%- include("messages",  {messages: locals.messages}) %>
        </section>



    </main>
</body>
</html>